* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
  text-decoration: none;
  font-size: 14px;
}

.container {
  padding: 40px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__warning {
  background-color: #f8e61c2c;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  margin: 30px 0;
}

.header__warning-status {
  margin-right: 25px;
  border-radius: 5px;
  overflow: hidden;
  padding: 4px 0;
}

.header__warning-status--left {
  background-color: #f8e71c;
  padding: 4px 0 4px 6px;
}

.header__warning-status--right {
  background-color: #ffffff;
  padding: 4px 6px 4px 0px;
}

.header__warning-text {
  color: #11223e;
  opacity: 0.5;
}

.nav {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.nav button {
  height: 40px;
}

.nav__search {
  height: 40px;
}

.nav__search input {
  padding-left: 16px;
  outline: none;
  border: 1px solid rgba(34, 62, 105, 0.1);
  border-radius: 3px;
  height: 100%;
  width: 240px;
}

.nav__btns {
  height: 100%;
}

.nav__btns button {
  font-weight: bold;
  border-radius: 5px;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.nav__btns-download {
  width: 142px;
  background-color: initial;
  border: 1px solid rgba(34, 62, 105, 0.1);
}

.nav__btns-download:hover {
  background-color: rgba(34, 62, 105, 0.1);
}

.nav__btns-download:active {
  background-color: #fff;
}

.nav__btns-addQuery {
  width: 170px;
  background-color: #fc3969;
  border: none;
  color: #fff;
  -webkit-box-shadow: 0px 2px 4px #fc3969;
          box-shadow: 0px 2px 4px #fc3969;
}

.nav__btns-addQuery:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.nav__btns-addQuery:active {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.windowMode {
  margin: 0 20px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: flex;
}

.windowMode button {
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.windowMode button:hover {
  background-color: rgba(34, 62, 105, 0.1);
}

.windowMode button:active {
  background-color: initial;
}

.windowMode__phone {
  border: 1px solid rgba(34, 62, 105, 0.1);
  border-radius: 3px 0 0 3px;
  background-color: initial;
  width: 105px;
  border-right: none;
}

.windowMode__tablet {
  border: 1px solid rgba(34, 62, 105, 0.1);
  border-radius: 0 3px 3px 0;
  background-color: initial;
  width: 105px;
}

@media (max-width: 425px) {
  .nav {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .nav input {
    width: 100vw;
  }
  .nav button {
    width: 50vw;
  }
  .windowMode {
    -webkit-box-flex: initial;
        -ms-flex-positive: initial;
            flex-grow: initial;
  }
}

.table__wrapper {
  overflow: scroll;
}

.table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  border-radius: 5px;
}

.table__head-row {
  border: 1px solid rgba(34, 62, 105, 0.1);
}

.table__head-col {
  padding: 15px 0;
  border: 1px solid rgba(34, 62, 105, 0.1);
  width: 40px;
  font-weight: normal;
}

.table__head-col .icon {
  font-size: 18px;
}

.table__body-row {
  border: 1px solid rgba(34, 62, 105, 0.1);
}

.table__body-col {
  padding: 15px 0;
  text-align: center;
  border: 1px solid rgba(34, 62, 105, 0.1);
  position: relative;
}

.table__body-col:last-child {
  border-right: none;
}

.opened-row {
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.first-col {
  padding: 0 15px;
  text-align: left;
  width: 285px;
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  background-color: white;
  border: none;
  outline: 1px solid rgba(34, 62, 105, 0.1);
}

.second-col {
  position: -webkit-sticky;
  position: sticky;
  width: 90px;
  left: 285px;
  background-color: white;
  border: none;
  outline: 1px solid rgba(34, 62, 105, 0.1);
}

.opened-col {
  padding: 0;
  text-align: center;
  border: none;
}

.opened-col img {
  text-align: center;
  margin: 15px 0;
}

.opened-col__first {
  text-align: center;
  vertical-align: top;
}

.opened-col__first button {
  margin-top: 15px;
  line-height: 14px;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: inherit;
  border: 1px solid rgba(34, 62, 105, 0.1);
}

.opened-col__second {
  outline: none;
}

.icon {
  margin-right: 15px;
}

.firs-col-text {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: inline-block;
}

.fa-star {
  position: absolute;
  right: 30px;
}

.fa-chevron-right {
  position: absolute;
  right: 15px;
}

.index::after {
  content: "30";
  line-height: 9px;
  font-size: 8px;
  border-radius: 5px;
  padding: 1px 5px;
  top: 33px;
  left: 10px;
  position: absolute;
  background-color: #c4e0a7;
}

.index::before {
  content: "1";
  background: url("../images/png/arrow.png") no-repeat;
  background-position: bottom;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 14px;
  width: 6px;
  font-size: 8px;
  height: 3px;
  border-radius: 5px;
  top: 6px;
  left: 18px;
  position: absolute;
}
/*# sourceMappingURL=style.css.map */